@import url('https://fonts.googleapis.com/css2?family=Jost:wght@100&family=Montserrat+Alternates:wght@100;200;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Yellowtail&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.navbar {
    position: fixed;
    margin-top: 0px;
    margin-bottom: 10px;
    padding-left: 40px;
    padding-top: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    color: white;
}
.navbar p{
    font-family: 'Montserrat Alternates', sans-serif;
    font-weight: 200;
    color: white;
    font-size: 25px;
}
body,
html,
.main {
    width: 100%;
    height: 100%;
    background: rgb(17, 14, 32);
}
.mood1 {
    display: flex;
    align-items: center;
    flex-direction: column;
}
.mood1 h4 {
    font-family: 'Montserrat Alternates', sans-serif;
    font-weight: 200;
    color: rgb(216, 206, 226);
    font-size: 25px;
    margin-top: 6%;
}
.mood1 img {
    width: 30%;
    height: 30%;
    margin-top: 2%;
}
.text_mood1 p{
    width: 300px;
    height: 200px;
    color: #fffffe;
    border: 2px dashed #eebbc3;
    border-radius: 5px;
    text-align: center;
    padding: 35px;
    box-shadow: 5px 5px 10px #f170a8;
    font-size: 16px;
    margin: 50px auto;
    font-family: 'Montserrat Alternates', sans-serif;
    font-weight: 100;
  }