@import url('https://fonts.googleapis.com/css2?family=Jost:wght@100&family=Montserrat+Alternates:wght@100;200;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Yellowtail&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.navbar {
    position: fixed;
    margin-top: 0px;
    margin-bottom: 10px;
    padding-left: 40px;
    padding-top: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    color: white;
}
.navbar p{
    font-family: 'Montserrat Alternates', sans-serif;
    font-weight: 200;
    color: white;
    font-size: 25px;
}
body,
html,
main{
    width: 100%;
    height: 100%;
    background: rgb(17, 14, 32);
}
.main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.heart_rate {
    position: relative;
    margin: 20px auto;
    width: 150px;
}
.heart_rate img {
    position: absolute;
    width: 100%;
    margin: 40% auto;
}
.fade-in {
    position: absolute;
    width: 100%;
    height: 190px;
    background-color:rgb(17, 14, 32);
    top: 0;
    right: 0;
    animation: heartRateIn 2.5s linear infinite;
}

.fade-out {
    position: absolute;
    width: 120%;
    height: 190px;
    top: 0;
    left: -120%;
    animation: heartRateOut 2.5s linear infinite;
    background: -moz-linear-gradient(left, rgba(17, 14, 32, 1) 0%, rgba(17, 14, 32, 1) 50%, rgba(17, 14, 32, 0) 100%);
    background: -webkit-linear-gradient(left, rgba(17, 14, 32, 1) 0%, rgba(17, 14, 32, 0, 1) 50%, rgba( 17, 14, 32, 0) 100%);
    background: -o-linear-gradient(left, rgba(17, 14, 32, 1) 0%, rgba(17, 14, 32, 1) 50%, rgba(17, 14, 32, 0) 100%);
    background: -ms-linear-gradient(left, rgba(17, 14, 32, 1) 0%, rgba(17, 14, 32, 1) 50%, rgba(17, 14, 32, 0) 100%);
    background: linear-gradient( to right, rgba(17, 14, 32, 1) 0%, rgba(17, 14, 32, 1) 80%, rgba(17, 14, 32, 0) 100%);
}
@keyframes heartRateIn {
    0% {
        width: 100%;
    }
    30% {
        width: 0;
    }
    100% {
        width: 0;
    }
}

@keyframes heartRateOut {
    0% {
        left: -120%;
    }
    30% {
        left: -120%;
    }
    100% {
        left: 0;
    }
}
.data {
    display: flex;
    justify-content: center;
    position: relative;
    margin-right: 40%;
    margin-top: 5%;
}
.data img{
    position: absolute;
    width: 400px;
    top: 200px;
}
.rate {
    position: relative;
    right: 25%;
    margin-left: 10%;
}
.h_max {
    position: relative;
}
.h_max h4{
    position: absolute;
    font-family: 'Montserrat Alternates', sans-serif;
    color: rgb(216, 206, 226);
    font-size: 15px;
    font-weight: 200;
    top: 240px;
    left: 16px;
}
.h_max h5{
    position: absolute;
    font-family: 'Montserrat Alternates', sans-serif;
    color: rgb(216, 206, 226);
    font-size: 15px;
    font-weight: 200;
    top: 255px;
    left: 27px;
}
.h_min {
    position: relative;
}
.h_min h4{
    position: absolute;
    font-family: 'Montserrat Alternates', sans-serif;
    color: rgb(216, 206, 226);
    font-size: 15px;
    font-weight: 200;
    top: 373px;
    left: 101px;
}
.h_min h5{
    position: absolute;
    font-family: 'Montserrat Alternates', sans-serif;
    color: rgb(216, 206, 226);
    font-size: 15px;
    font-weight: 200;
    top: 385px;
    left: 110px;
}
.b_max {
    position: relative;
}
.b_max h4{
    position: absolute;
    font-family: 'Montserrat Alternates', sans-serif;
    color: rgb(216, 206, 226);
    font-size: 15px;
    font-weight: 200;
    top: 420px;
    left: -127px;
}
.b_max h5{
    position: absolute;
    font-family: 'Montserrat Alternates', sans-serif;
    color: rgb(216, 206, 226);
    font-size: 15px;
    font-weight: 200;
    top: 435px;
    left: -116px;
}
.b_min {
    position: relative;
}
.b_min h4{
    position: absolute;
    font-family: 'Montserrat Alternates', sans-serif;
    color: rgb(216, 206, 226);
    font-size: 15px;
    font-weight: 200;
    top: 530px;
    left: 76px;
}
.b_min h5{
    position: absolute;
    font-family: 'Montserrat Alternates', sans-serif;
    color: rgb(216, 206, 226);
    font-size: 15px;
    font-weight: 200;
    top: 545px;
    left: 87px;
}
.h_max h3 {
    position: absolute;
    width: 200px;
    font-family: 'Montserrat Alternates', sans-serif;
    color: rgb(216, 206, 226);
    font-size: 20px;
    font-weight: 200;
    top: 300px;
    left: -335px;
}
.b_max h3 {
    position: absolute;
    width: 200px;
    font-family: 'Montserrat Alternates', sans-serif;
    color: rgb(216, 206, 226);
    font-size: 20px;
    font-weight: 200;
    top: 500px;
    left: -353px;
}
.dream {
    position: relative;

}
.title {
    display: flex;
    align-items: center;
    flex-direction: column;
}
.title h3 {
    position: absolute;
    font-family: 'Montserrat Alternates', sans-serif;
    font-weight: 200;
    color: rgb(216, 206, 226);
    font-size: 25px;
    top: 392px;
    left: 270px;
    width: 250px;
}
  .sound {
    position: absolute;
    top: 15px;
  }